.btn {
      display: inline-block;
      #border: #2e6da4;
      border-style: solid;
      border-width: 2px;
      width: 190px;
      height: 54px;
      border-radius: 2px;
      #background: linear-gradient(#FFFFFF, #B0B0B0);
      color: blue;
      margin-top: 0px;
      margin-bottom: 0x;
      margin-right: 0px;
      margin-left: 0px;
      vertical-align: middle;
    }
    .btn:hover {
      background: linear-gradient(#152B40, #152B40);
      color: white
    }
    .btn:focus {
      background: linear-gradient(#152B40, #152B40);
      color: white
    }